!!! 5
html
    head
        title Some game
        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        if debug
            script(type="text/javascript", src="js/main.js")
            script(type="text/javascript", src="//localhost:35729/livereload.js")
        else
            script(type="text/javascript", src="js/main.min.js")